.container .task-2{
    width: 400px;
    height: 500px;
    border-radius: 8px;
    background-color: gray;
    margin-left: 33.8%;
    margin-top: 2%;
    padding: 20px;
    overflow-y: scroll;
}
.container .task-2 .item-box{
    width: 98%;
    height: 50px;
    border-radius: 8px;
    background-color: aqua;
    padding: 3px;
    margin-top: 10px;
}